[Desktop Entry]
Name=Microphone
GenericName=Microphone script for Linux
Exec=sh -c "$HOME/dotshared/bash/microphone.sh"
Icon=camera
Type=Application
StartupNotify=true
