[Desktop Entry]
Name=Microphone
GenericName=Microphone script for Linux
Exec=sh -c "$HOME/dotshared/bash/microphone.sh"
Icon=/home/jk/.icon/icon-console.png
Type=Application
StartupNotify=true
