[Desktop Entry]
Name=Screenshot
GenericName=Screenshot script for Linux
Exec=sh -c "$HOME/dotshared/bash/screenshot.sh"
Icon=camera
Type=Application
StartupNotify=true
