[Desktop Entry]
Name=Startup Laptop
GenericName=Startup script for Linux
Exec=sh -c "$HOME/dotfiles/startup.sh -l"
Icon=camera
Type=Application
StartupNotify=true
