[Desktop Entry]
Name=Audio - Jabra
GenericName=Audio - Jabra
Exec=sh -c "$HOME/dotshared/display/audio-jabra.sh"
Icon=camera
Type=Application
StartupNotify=true