[Desktop Entry]
Name=Audio - Laptop
GenericName=Audio - Laptop
Exec=sh -c "$HOME/dotshared/display/audio-laptop.sh"
Icon=/home/jk/.icon/icon-console.png
Type=Application
StartupNotify=true