[Desktop Entry]
Name=Audio - HDMI
GenericName=Audio - HDMI
Exec=sh -c "$HOME/dotshared/display/audio-hdmi.sh"
Icon=camera
Type=Application
StartupNotify=true