[Desktop Entry]
Name=Display - Extend
GenericName=Display - Extend
Exec=sh -c "$HOME/dotshared/display/display-extend.sh"
Icon=camera
Type=Application
StartupNotify=true