[Desktop Entry]
Name=Display - HDMI
GenericName=Display - HDMI
Exec=sh -c "$HOME/dotshared/display/display-hdmi.sh"
Icon=camera
Type=Application
StartupNotify=true